.cat-info {
  border: none;
  border-bottom: 1px solid $dividing-line-color;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.cat-info__wrapper {
  @include mobile-padding;
  min-height: 186px;

  @media (min-width: $tablet-width) {
    @include tablet-form-padding;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-left: (110 / 680) * 100%;
  }
}

.cat-info__item {
  display: flex;
  margin-bottom: 14px;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 30px;
  }
}

.cat-info__input {
  @include alternative-font;
  @include placeholder;
  box-sizing: border-box;
  margin-left: 15px;
  padding-left: 15px;
  width: 100%;
  height: 45px;
  border: 1px solid $input-border-color;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: $text-color;
  box-shadow: none;
  appearance: textfield;

  &--age {
    width: 20%;
    flex-grow: 1;
  }

  &:hover {
    border: 1px solid $owner-input-border-color;
  }

  &:focus {
    border: 2px solid $text-color;
    outline: none;
  }

  &:not(.cat-info__input--age):invalid {
    border: 2px solid $error-color;

    &:placeholder-shown {
      border: 1px solid $input-border-color;

      &:hover {
        border: 1px solid $owner-input-border-color;
      }

      &:focus {
        border: 2px solid $text-color;
      }
    }
  }

  &::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }

  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    margin-left: 17px;
    padding-left: 18px;
    height: 52px;
    font-size: 20px;
    line-height: 30px;

    &--weight {
      margin-left: 21px;
    }
  }
}
