.comment {
  border: none;
}

.comment__wrapper {
  @include mobile-padding;

  @media (min-width: $tablet-width) {
    @include tablet-padding;
  }

  @media (min-width: $desktop-width) {
    @include desktop-padding;
  }
}

.comment__title {
  margin: 0;
  text-transform: none;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: $title-color;
}

.comment__text {
  @include alternative-font;
  width: 100%;
  resize: none;
  border: 1px solid $input-border-color;
  text-transform: uppercase;
  font-size: 16px;
}
