.contact-details {
  border: none;
}

.contact-details__wrapper {
  @include mobile-padding;

  @media (min-width: $tablet-width) {
    @include tablet-padding;
  }

  @media (min-width: $desktop-width) {
    @include desktop-padding;
  }
}

.contact-details__title {
  margin: 0;
  text-transform: none;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: $title-color;
}

.contact-details__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contact-details__label {
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
}

.contact-details__input {
  @include alternative-font;
  border: 1px solid $owner-input-border-color;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: $text-color;
}
