.copyrights {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 39px;
  width: 100%;
}

.copyrights__link {
  font-size: 16px;
  line-height: 18px;

  &--text {
    padding-bottom: 4px;
  }
}
