.features {
  margin-bottom: 46px;
}

.features__wrapper {
  @include mobile-padding;

  @media (min-width: $tablet-width) {
    @include tablet-padding;
  }

  @media (min-width: $desktop-width) {
    @include desktop-padding;
  }
}

.features__title {
  @include alternative-font;
  margin: 0;
  margin-bottom: 41px;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: $title-color;
}

.features__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.features__item {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 26px;
  }

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
  }

  &--nutrients::before {
    background-image: url("../img/icon-nutrients.svg");
  }

  &--substance::before {
    background-image: url("../img/icon-substance.svg");
  }

  &--meal::before {
    background-image: url("../img/icon-meal.svg");
  }

  &--profit::before {
    background-image: url("../img/icon-profit.svg");
  }
}

.features__text {
  margin: 0;
  margin-left: auto;
  width: (200 / 280) * 100%;
}
