.features__wrapper {
  @include mobile-padding;

  @media (min-width: $tablet-width) {
    @include tablet-padding;
  }

  @media (min-width: $desctop-width) {
    @include desctop-padding;
  }
}

.features__title {
  @include alternative-font;
  margin: 0;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: $title-color;
}

.features__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
