.form {
  @include alternative-font;
  border-top: 1px solid $dividing-line-color;
  text-transform: uppercase;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: (62 / 768) * 100%;
    border: none;
  }

  @media (min-width: $desktop-width) {
    column-gap: (80 / 1440) * 100%;
  }
}

.form__wrapper {
  @include mobile-padding;

  @media (min-width: $tablet-width) {
    @include tablet-padding;
    grid-column: 1 / 3;
  }

  @media (min-width: $desktop-width) {
    @include desktop-padding;
  }
}

.form__title {
  margin: 0;
  text-transform: none;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $title-color;
}

.form__text {
  margin: 0;
  color: $title-color;
}

.form__cat-info {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
  }
}

.form__purpose {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
  }
}

.form__contact-details {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 3;
  }
}

.form__comment {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 3;
  }
}

.form__addition {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 3;
  }
}

.form__button {
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    margin-left: (71 / 353) * 100%;
  }

  @media (min-width: $desktop-width) {
    margin-left: (110 / 680) * 100%;
  }
}

.form__legend {
  @include main-font;
  margin: 0;
  text-align: center;
  text-transform: none;
  line-height: 16px;
  color: $title-color;

  @media (min-width: $tablet-width) {
    text-align: left;
  }
}

.form__legend-text {
  font-size: 14px;
}
