.lot {
  position: relative;
  min-height: 208px;
  border-bottom: 1px solid $main-goods-border-color;
  box-sizing: border-box;
  padding-top: 21px;
  min-height: 209px;

  @media (min-width: $tablet-width) {
    width: 324px;
    min-height: 511px;
    border: none;

    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      z-index: -1;
      width: 100%;
      min-height: 430px;
      background-color: $background-color;
    }

    &:last-child::before {
      box-sizing: border-box;
      border: 2px solid $background-color;
      background-color: transparent;
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }

  &--all {
    min-height: 208px;
  }
}

.lot__wrapper {
  @include mobile-padding;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 37px;
    height: 100%;
  }

  &--all {
    box-sizing: border-box;
    padding-top: 57px;

    &::before {
      content: "";
      position: absolute;
      top: 18px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 30px;
      height: 2px;
      background-color: $plus-color;
    }

    &::after {
      content: "";
      position: absolute;
      top: 4px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 2px;
      height: 30px;
      background-color: $plus-color;
    }
  }
}

.lot__link-title {
  margin-bottom: 13px;
  width: (80 / 138) * 100%;

  &--all {
    grid-column: 1 / 3;
    margin-bottom: 8px;
    width: 100%;
    text-align: center;
  }
}

.lot__title {
  @include alternative-font;
  margin: 0;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $subtitle-color;
}

.lot__link-image {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  padding-top: 11px;

  outline: 1px solid green;

  @media (max-width: $mobile-only) {
    &--third {
      padding-top: 24px;
    }

    &--fifth {
      padding-top: 28px;
    }

    &--seventh {
      padding-top: 22px;
    }
  }

  @media (min-width: $tablet-width) {
    order: -1;
  }
}

.lot__link-image img {
  outline: 1px solid red;
}

.lot__properties {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 12px;
  line-height: 16px;
}

.lot__propertie {
  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $owner-input-border-color;
  }
}

.lot__definition {
  margin: 0;
  text-align: right;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $owner-input-border-color;
  }
}

.lot__button {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  box-sizing: border-box;
  margin-top: 22px;
  padding-top: 10px;
  min-height: 40px;
  font-size: 16px;
  line-height: 20px;

  &--show-all {
    color: $text-color;
    background-color: $background-color;

    &:hover {
      background-color: $main-goods-border-color;
    }

    &:active {
      color: rgba($text-color, 0.3);
    }
  }
}

.lot__text {
  grid-column: 1 / 3;
  text-align: center;
  margin: 0;
  font-size: 12px;
  line-height: 16px;
}
