.main-goods__title {
  @include alternative-font;
  margin: 0;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $title-color;
}

.main-goods__list {
  margin: 0;
  padding: 0;
}

.main-goods__item {
  border-top: 1px solid $main-goods-border-color;
  border-bottom: 1px solid $main-goods-border-color;
}

.main-goods__item-title {
  @include alternative-font;
  margin: 0;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $subtitle-color;
}

.main-goods__properties {
  font-size: 12px;
  line-height: 16px;
}

.main-goods__definition {
  margin: 0;
}

.main-goods__button {
  font-size: 16px;
  line-height: 20px;
}

.main-goods__text {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
}

.main-goods__button--show-all {
  color: $text-color;
  background-color: $background-color;

  &:hover {
    background-color: $main-goods-border-color;
  }

  &:active {
    color: rgba($text-color, 0.3);
  }
}
