.main-goods {
  border-top: 1px solid $dividing-line-color;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.main-goods__wrapper {
  box-sizing: border-box;
  padding-top: 26px;

  @media (min-width: $tablet-width) {
    @include tablet-padding;
    padding-top: 48px;
  }

  @media (min-width: $desktop-width) {
    @include desktop-padding;
    padding-top: 60px;
  }
}

.main-goods__title {
  @include alternative-font;
  margin: 0;
  padding-left: $mobile-indent;
  padding-bottom: 41px;
  border-bottom: 1px solid $main-goods-border-color;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $title-color;

  @media (min-width: $tablet-width) {
    margin-bottom: 84px;
    padding: 0;
    border: none;
    font-size: 60px;
    line-height: 60px;
  }
}

.main-goods__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: (60 / 708) * 100%;
  }

  @media (min-width: $desktop-width) {
    gap: (80 / 1220) * 100%;
  }
}
