.page-footer {
  @media (min-width: $desktop-width) {
    display: grid;
  }
}

.page-footer__contacts {
  @media (min-width: $desktop-width) {
    margin-left: $desktop-indent;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-top: -10px;
  }
}

.page-footer__map {
  display: block;
  width: 100%;
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }
}

.page-footer__map-static {
  display: none;
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  &--no-js {
    display: block;
  }
}

.page-footer__references {
  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
  }
}
