.page-footer {
  @media (min-width: $desktop-width) {
    display: grid;
  }
}

.page-footer__contacts {
  @media (min-width: $desktop-width) {
    margin-left: $desktop-indent;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    z-index: 1;
  }
}

.page-footer__map-block {
  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }
}

.page-footer__map {
  display: block;
  width: 100%;
  height: 362px;
}

.page-footer__references {
  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
  }
}
