.programs {
  margin-bottom: 26px;
}

.programs__wrapper {
  @include mobile-padding;

  @media (min-width: $tablet-width) {
    @include tablet-padding;
  }

  @media (min-width: $desktop-width) {
    @include desktop-padding;
  }
}

.programs__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.programs__item {
  @include mobile-padding;
  position: relative;
  box-sizing: border-box;
  padding-top: 29px;
  min-height: 266px;
  background-color: $background-color;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 76px;
    padding-left: (52 / 708) * 100%;
    min-height: 372px;
  }

  &--slim::before {
    content: "";
    position: absolute;
    top: 21px;
    left: 29px;
    z-index: 1;
    width: 36px;
    height: 50px;
    background-image: url("../img/icons/sprite.svg#cat-slim");
    // background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      left: initial;
      top: 81px;
      right: 91px;
      width: 140px;
      height: 192px;
    }
  }

  &--slim::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 22px;
    width: 50px;
    height: 50px;
    background-color: $main-color;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      left: initial;
      top: 92px;
      right: 62px;
      width: 200px;
      height: 200px;
    }
  }

  &--fit::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 13px;
    z-index: 1;
    width: 68px;
    height: 29px;
    background-image: url("../img/icons/sprite.svg#cat-fit");
    background-repeat: no-repeat;
  }
}

.programs__item:not(:last-child) {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.programs__title {
  @include alternative-font;
  margin: 0;
  margin-bottom: 30px;
  margin-left: 30%;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  color: $title-color;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
    margin-left: 0;
    font-size: 36px;
    line-height: 36px;
  }
}

.programs__feature {
  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 22px;
  border-bottom: 1px solid $dividing-line-color;

  @media (min-width: $tablet-width) {
    outline: 1px solid red;
    font-size: 16px;
    line-height: 24px;
    width: (405 / 708) * 100%;
  }
}

.programs__link {
  @include alternative-font;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  color: $title-color;

  &:active {
    opacity: 0.3;
  }

  &-img {
    padding-left: 15px;
    padding-bottom: 2px;
  }
}
