.references {
  background-color: $background-color;
}

.references__wrapper {
  @include mobile-padding;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 39px;
  min-height: 236px;
  align-items: center;

  @media (max-width: $mobile-only) {
    &::before {
      content: "";
      position: absolute;
      top: 94px;
      left: $mobile-indent;
      right: $mobile-indent;
      border-bottom: 1px solid $dividing-line-color;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 78px;
      left: $mobile-indent;
      right: $mobile-indent;
      border-bottom: 1px solid $dividing-line-color;
    }
  }

  @media (min-width: $tablet-width) {
    @include tablet-padding;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0;
    min-height: 146px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    @include desktop-padding;
  }
}

.references__logo {
  margin-bottom: 27px;
  text-align: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-top: 2px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 7px;
  }
}

.references__social-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  margin: 0;
  margin-left: -4px;
  padding: 0;
  padding-top: 21px;
  padding-bottom: 16px;
  width: (130 / 280) * 100%;
  list-style: none;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 35px;
    width: (139 / 708) * 100%;
  }

  @media (min-width: $desktop-width) {
    margin-left: (36 / 1220) * 100%;
    padding-top: 5px;
    width: 11.5%;
  }
}

.references__social-link {
  display: block;
  color: $icons-color;

  &:hover {
    color: $main-color;
  }

  &:active {
    opacity: 0.3;
  }

  &--vk {
    width: 23px;
  }

  &--instagram {
    width: 16px;
  }

  &--facebook {
    width: 22px;
  }

  @media (min-width: $tablet-width) {
    &--vk {
      margin-top: -4px;
      width: 30px;
    }

    &--instagram {
      margin-top: -1px;
      padding-left: 8px;
      width: 23px;
    }

    &--facebook {
      margin-top: -4px;
      padding-right: 8px;
      width: 32px;
    }
  }
}

.references__social-image {
  width: 100%;
  height: auto;
}
