// Colors

// Basic palette
$main-color: #68b738;
$main-color-hover: #5eaa2f;
$title-color: #000000;
$text-color: #444444;
$logo-color: #111111;
$icon-content-color: #ffffff;
$background-color: #f2f2f2;
$alternative-background-color: #eaeaea;

// Auxiliary palette
$input-border-color: #e7e7e7;
$navigation-border-line: #e6e6e6;
$navigation-underline-color: #64a73c;
$owner-input-border-color: #cdcdcd;
$dividing-line-color: #d9d9d9;
$range-shadow-color: #d6d6d6;
$range-hover-shadow-color: #cfcfcf;
$range-active-shadow-color: #cccccc;
$range-background-color: #dcdcdc;
$toggle-border-color: #b2b2b2;
$subtitle-color: #222222;
$icons-color: #666666;
$error-color: #ff8282;
$main-goods-border-color: #ebebeb;


// Sizes
$mobile-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;

// Indents
$mobile-indent: (20 / 320) * 100%;
$tablet-indent: (30 / 768) * 100%;
$desktop-indent: (110 / 1440) * 100%;
